<!--

    THIS IS OUR ACCOUNT INFORMATION PAGE

    This page should ONLY be accessable when LOGGED IN 

    This page should ONLY show information associated with the LOGGED IN USER

    This page will provide functions/redirects to update information

-->

<!DOCTYPE html>
<html>

<head>
    <title>Account - FreakyFood</title>
    <link rel="stylesheet" href="/static/account.css">
</head>

<body>
    <div class="fixed-header">
        <a href='/home'><img class="logo" src="/static/images/FFLogo.png" alt="Freaky Food Logo"></a>
        <div id="index">
            <a href="/home"><button type="button">Home</button></a>
            <a href="/logout"><button type="button">Sign out</button></a>
            <a href="/404"><button type="button">Help</button></a>
        </div>
    </div>
    <h1>Your Account Information</h1>

    <div>
        <table>
            <!-- Column Names -->
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Card Number</th>
                <th>Password</th>
            </tr>
            <!-- display user information -->
            <tr>
                <td>{{ user.UserID }}</td>
                <td>{{ user.FirstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.PhoneNumber }}</td>
                <td>{{ user.Street }}</td>
                <td>{{ user.City }}</td>
                <td>{{ user.State }}</td>
                <td>{{ user.ZipCode }}</td>
                <td>{{ user.CardNumber}}</td>
                <td>{{ user.Password }}</td>
            </tr>
        </table>
    </div>

    <!-- Return to home page -->
    <br>
    <div class="reset-buttons">
    <a href="/home"><button type="button" id="home">Home</button></a>
    </div>
    <div class = "reset-buttons">
        <a href="/reset"><button type="button">Reset Password</button></a>
    </div>
    <div class="reset-buttons">
        <a href="/logout"><button type="button" id="logout">Sign Out</button></a>
    </div>

    <form action="/account" method="POST" style="display:inline;">
        <input type="hidden" name="action" value="delete">
        <div class="reset-buttons">
            <button type="submit" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button>
        </div>
    </form>
    <div id="seperator"> </div>
</body>

<footer class="footer">
    <p style="margin-left: 15px;">&copy; 2024 Freaky Food. All rights reserved.</p>
    <ul class="footer-links">
        <li><a href="/404">Privacy Policy</a></li>
        <li><a href="/404">Terms of Service</a></li>
        <li><a href="/404">Contact Us</a></li>
    </ul>
</footer>

</html>