<!--

    This is the checkout page, similiar to final checkout page in grubhub

    You will be able to see your current order information, expected delivery time, and your information

    You will press Submit to place the order and continue to order status page

    ONLY CAN PROCEED TO STATUS IF LOGGED IN, SAVE ORDER IN SESSION AND REDIRECT TO SIGNUP/LOGIN, THEN REDIRECT BACK TO CHECKOUT UPON LOGIN

    MAYBE redirect to order status if there is a current order placed so only one order at a time

-->
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - FreakyFood</title>
    <link rel="stylesheet" href="/static/checkout.css">
</head>
<body>
    <a href='/'><img class="logo" src="/static/images/FFLogo.png" alt="Freaky Food Logo"></a>
    <div class="restaurant-header">
        <h1>{{ curr_restaurant.StoreName }}</h1>
        <img src="{{ url_for('static', filename='images/' + curr_restaurant.StoreImage) }}" alt="Store Image" style="width: 300px; height: 300px;"/>
    </div>
    <h1> ORDER # {{potential_order.OrderID}}</h1>
    {% if potential_items %}
    <class="order-items">
        <h2>Your Order</h2>
        <ul>
            {% for item in potential_items %}
                <li>
                    <strong>{{ item.OrderItemName }}</strong><br>
                    <span>Quantity: {{ item.ItemQuantity }}</span><br>
                    <span>Price: ${{ item.ItemPrice }}</span><br>
                    
                </li>
            {% endfor %}
        </ul>
        <!-- Button to go back and edit the order -->
        <a href="{{ url_for('restaurant', restaurant=curr_restaurant.StoreName) }}"><button>Edit Order</button></a>
        <hr>
        <a href='/status'><button>Submit</button></a>

        <form action='/checkout'method="POST" style="display:inline;">
            <input type="hidden" name="action" value="delete">
            <div class="delete-buttons">
                <button type="submit" onclick="return confirm('Are you sure you want to delete your order?')">Delete Order</button>
            </div>
        </form>
    </div>
    {% else %}
    <p>No items in your order yet.</p>
    {% endif %}
</body>

<footer class="footer">
    <p style="margin-left: 15px;">&copy; 2024 Freaky Food. All rights reserved.</p>
    <ul class="footer-links">
        <li><a href="/404">Privacy Policy</a></li>
        <li><a href="/404">Terms of Service</a></li>
        <li><a href="/404">Contact Us</a></li>
    </ul>
</footer>
</html>
