<!--

    This is the checkout page, similiar to final checkout page in grubhub

    You will be able to see your current order information, expected delivery time, and your information

    You will press Submit to place the order and continue to order status page

    ONLY CAN PROCEED TO STATUS IF LOGGED IN, SAVE ORDER IN SESSION AND REDIRECT TO SIGNUP/LOGIN, THEN REDIRECT BACK TO CHECKOUT UPON LOGIN

    MAYBE redirect to order status if there is a current order placed so only one order at a time

-->
    
<!DOCTYPE html>

<html lang="en">
    <header>
        <title> Checkout - FreakyFood</title>
        <link rel="stylesheet" href="/static/checkout.css">
    </header>

    <body>

    </body>

    <footer>

    </footer>
</html>