<!--

    THIS IS OUR PRE-LOGIN PAGE NOT OUR HOMEPAGE

    This page should only be accessable WHEN LOGGED OUT

    Attempting to reach this page while LOGGED IN should NOT Work

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Food - Welcome</title>
    <link rel="stylesheet" href="/static/index.css"> <!-- Link to the external CSS file -->

</head>


<body>
    <div class="fixed-header">Welcome to Freaky Food!</div>
    
    <h1>Get food delivery and more!</h1>

    <div id="index">
        <a href="/signup">
            <button type="button">Sign Up!</button>
        </a>

        <a href="/login">
            <button type="button">Log In!</button>
        </a>

        <a href="/account">
            <button type="button">Account Information</button>
        </a>
    </div>
    
    <h1>Why you will adore Freaky Food!</h1>
    <h3>We LOVE to have fun</h3>
    <img src="/static/images/Cartoon1.png" alt="Food and Drink Cartoon" width="300">
    <h4>We love to support all of our customers needs!</h4>

    <h3>We deliver anywhere...</h3>
    <img src="/static/images/Cartoon2.png" alt="Girl Driving Car Cartoon" width="300">
    <h4>Sit back and don't worry about a thing</h4>

    <h3>We have great prices!</h3>
    <img src="/static/images/Cartoon4.png" alt="Money Bag Cartoon" width="200">
    <h4>Save money and get great deals</h4>

    <footer>&copy; 2024 Freaky Food. All rights reserved.</footer>
</body>

</html>
