<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaky Food</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
    
    <header>
        Freaky Food
        <!--<audio id="audio" controls autoplay>
            <source src="Tequila.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>-->

        <a style="position: absolute; top: 0; left: 0; padding: 10px;">
            <div><img src="../static/images/FFLogo.png" alt="Logo" height="65px" weight="65px"> </div>
        </a>

        <a href="FFProfile.html" style="position: absolute; top: 0; right: 0; padding: 20px;">
            <div>🙂</div>
        </a>
    </header>

    <div class="search-bar">
        <input type="text" placeholder="Search Freaky Food" />
    </div>

    <!--<div class="content">
        <img src="BK_Logo.png" class="logo" alt="Burger King">
        <img src="WingStop_logo.png" class="logo" alt="Wing Stop">
        <img src="Chipotle_logo.png" class="logo" alt="Chipotle">
        <img src="OliveGarden_Logo.png" class="logo" alt="Olive Garden">
    </div> -->

    <footer>
        <a href="index.html"><div>🏠</div></a>
        <div>📋</div>
        <div>🔍</div>
        
        <div>🛒</div>
    </footer>

</body>
</html>
