<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - FreakyFood</title>
  </head>
  <nav>
    <a href="/">
      <button type="button" id="home">Home</button>
    </a>
  </nav>
  <body>
    <h1>Log In</h1>
    <div>

      <form method="post">
        <label for="email"> Email: </label>
        <input
          type="text"
          id="email"
          name="email"
          value=""
          required
          placeholder="Enter your email"
        />
        <br />
        <label for="password"> Password: </label>
        <input
          type="password"
          id="password"
          name="password"
          value=""
          required
          placeholder="Enter your password"
        />
        <br />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
