<!DOCTYPE html>
<html>

<head>
    <title>Lab 6 Log In</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Log In</h1>
    <div style=" display: flex; justify-content: center; align-items: center;">
        <!-- Create a log in form here -->
        <div style="text-align: center; max-width: 200px;">
            <form method="POST">
                <label for="Email">Email</label><br>
                <input type="text" id="Email" name="Email" required><br>
                <label for="Password">Password:</label><br>
                <input type="password" id="password" name="Password" required>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <br>
    <a href="/">
        <button type="button" id="home">Home</button>
    </a>
</body>

</html>