<!--

    THIS IS OUR LOGIN PAGE

    This page should pull information from the databse

    CURRENTLY redirects to itself if incorrect, or if correct -> passes user instance through to account info (should be hompage soon)

-->

<!DOCTYPE html>
<html>

    <head>
        <title>Login - FreakyFood</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css">
    </head>

    <body>
        <div id="container">
            <img src="/static/images/FFLogo.png" alt=" logo" width-="100">
            <h1>Sign Up</h1>
            <form method="POST"style="text-align: left;">
                <label for="Email" class="field_name">Email</label><br>
                <input type="text" class="field" id="Email" name="Email" required><br>
                <label for="Password" class="field_name">Password:</label><br>
                <input type="password"class="field" id="password" name="Password" required>
                <br>
                <input type="submit" value="Log in" class="submit">
            </form>
            <a href="/"><button type="button">Back</button></a>    
        </div>
    </body>
</html>