<!--

    THIS IS THE PASSWORD RESET PAGE

    This page will update information in the database

    (TO BE IMPLEMENTED) -> This page will redirect to itself if new password does not meet criteria

    Otherwise it will redirect to account information (Should go to home page when homepage is made)

-->

<!DOCTYPE html>
<html>

<head>
    <title>Reset Password - FreakyFood</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Reset Password - Not Implemented</h1>
    <div style=" display: flex; justify-content: center; align-items: center;">
        <!-- Create a log in form here -->
        <div style="text-align: center; max-width: 200px;">
            <!-- Implement Reset Fields Here-->
        </div>
    </div>

    <br>
    <a href="/home">
        <button type="button" id="home">Home</button>
    </a>
</body>

</html>