<!--

    This is the DYNAMIC search page to display all restaurants

    This page will be rendered with a passed search query

    This page must dynamically display all searched restaurants which match the query

    Will also continue a search bar to change the current query

    Upon clicking on a restaurant will redirect to restaurants pages

    MAYBE redirect to order status if order in progress to prevent multiple orders?

-->

<!DOCTYPE html>

<html lang="en">
    <header>
        <title>Search - FreakyFood</title>
        <link rel="stylesheet" href="/static/search.css">
    </header>
    <body>
        <div class="fixed-header">
            <a href="/"><img class="logo" src="/static/images/FFLogo.png" alt="Freaky Food Logo"></a>
            <div id="index">
                {% if user_id %}
                    <a href="/search"><button type="button">Restaurants</button></a>
                    <a href="/404"><button type="button">Help</button></a>
                    <a href="/404"><button type="button">Deals</button></a>
                    <a href="/account"><button type="button">Home</button></a>
                {% else %}
                    <a href="/search"><button type="button">Restaurants</button></a>
                    <a href="/404"><button type="button">Deals</button></a>
                    <a href="/404"><button type="button">Help</button></a>
                    <a href="/login"><button type="button">Login</button></a>
                    <a href="/signup"><button type="button">Signup</button></a>
                {% endif %}
            </div>
        </div>
       
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="text" id="query" name="query" placeholder="What are you craving?" />  <button type="submit">Search</button>
            </form>
        </div>
        <h2>Results:</h2>
        {% if stores %}
            {% for store in stores %}
            <ul>
                <li><strong>{{ store.StoreName }}</strong></li>
                <form action="/restaurant" method="get">
                    <input type="hidden" name="restaurant" value="{{ store.StoreName }}">
                    <button type="submit" style="border: none; background: none;">
                        <img src="{{ url_for('static', filename='images/' + store.StoreImage) }}" alt="Store Image">
                    </button>
                </form>
            </ul>
            {% endfor %}
        {% else %}
            <p>No stores found.</p>
        {% endif %} 
   
    <footer class="footer">
        <p style="margin-left: 15px;">&copy; 2024 Freaky Food. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/404">Privacy Policy</a></li>
            <li><a href="/404">Terms of Service</a></li>
            <li><a href="/404">Contact Us</a></li>
        </ul>
    </footer>
     
        
    </body>


</html>