<!--

    THIS IS OUR SIGNUP PAGE

    This page posts information to our database

-->

<!DOCTYPE html>
<html>

<head>
    <title>Sign Up - FreakyFood</title>
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>

<body>
    <div id="container">
        <img src="/static/images/FFLogo.png" alt=" logo" width-="100">
        <h1>Sign Up</h1>
        
        <form method="POST" style="text-align: left;">
            <label for="FirstName" class="field_name">First Name:</label><br>
            <input type="text" class="field" id="FirstName" name="FirstName" minlength="2" pattern="[A-Za-z]+" required><br>

            <label for="LastName" class="field_name">Last Name:</label><br>
            <input type="text" class="field" id="LastName" name="LastName" minlength="2"pattern="[A-Za-z]+" required><br>

            <label for="Email" class="field_name">Email Address:</label><br>
            <input type="text" class="field" id="Email" name="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required><br>

            <label for="Password" class="field_name">Password:</label><br>
            <input type="password" class="field" id="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" required><br>

            <label for="PasswordTwo" class="field_name">Re-enter Password:</label><br>
            <input type="password" class="field" id="PasswordTwo" name="PasswordTwo" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" required>

            <p id="submit-hero">How Do You Use FreakyFood?</p>
            <div id="radioelements">
                <label><input type="radio" name="UserType" value="Driver" required> Driver</label><br>
                <label><input type="radio" name="UserType" value="Customer" required> Customer</label><br>
                <label><input type="radio" name="UserType" value="StoreOwner" required> Store Owner</label><br><br>
            </div>

            <input type="submit" value="Sign Up" class="submit">
        </form>

        <a href="/"><button type="button">Back</button></a>
     
    </div>
</body>

</html>