h1 {
    text-align: center;
    color: #007bff;
    font-size: 2.5rem;
    margin-top: 30px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
    font-size: 1rem;
}

th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e8f4ff;
}

#account-info {
    padding-top: 20px;
}

#account-info table th,
#account-info table td {
    padding: 15px;
}

#account-info table td {
    font-weight: 300;
    color: #555;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #007bff;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5em;
    z-index: 1000;
}
button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #343a40;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.logo {
    height: 100px;
    width: 100px;
}

.profilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 8px;
}

#index {
    margin-right: 30px;
}

.reset-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#seperator {
    margin-bottom: 410px;
}
.reset-buttons button {
    width: 200px;
    height: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.footer-links {
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 38px;
}

.footer-links a {
    color: #ffccbc;
    text-decoration: none;
}

.footer-links a:hover {
    color: #fff;
}