
        body {
            background-color: #FFF;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .search-bar {
            margin: 200px;
            
        }
        /*.logo {
            display: inline-block;
            width: 150px;
            height: 150px;
            margin: 20px;
        }*/
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00BFFF;
            padding: 30px;
            display: flex;
            justify-content: space-around;
        }
        footer div {
            font-size: 2em;
        }
        header {
            background-color: #00BFFF;
            padding: 20px;
            color: white;
            font-size: 2em;
        }
